/target/
**/target/
**/node_modules/
**/dist/
**/.dart_tool/
**/build/
**/pubspec.lock
/src/ts/package-lock.json
/src/gleam/manifest.toml
/generated/
/.vendor/
/.zed/
/.ores/
.env
.env.*
.DS_Store
*.log
tmp/
